<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Assets/css/generativeai.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
  />
  </head>
  <body>
    <div class="genai_container">
      <div class="navbar">
        <iframe
          src="../shared/navbar.html"
          frameborder="0"
          width="100%"
          height="90"
        ></iframe>
      </div>
      <div class="genai_img">
        <img src="../../Assets/images/main-artificial-intelligence.jpg" />
        <h1>Generative AI</h1>
      </div>
    <div class="gen_ai_sub_headings">
        <p>
            Generative AI software is a category of artificial intelligence tools
            that create new data, content, or outputs based on patterns and
            knowledge learned from existing data.
           Our Generative AI software has a
            wide range of features and benefits across various applications.</p>
          </p>
        <p class="sub_para"><span style="font-weight: bold;">Data Generation:</span>Our software creates new data samples, such as text, images, music, or videos, that are similar to the training data it has been exposed to.
        </p>
        <p class="sub_para"><span style="font-weight: bold;">Language Generation:</span>It generates human-like text, making it valuable for content generation, chatbots, automated customer support, and natural language interfaces.
        </p>
        <p class="sub_para"><span style="font-weight: bold;">Image & Video Generation:</span>Our solution generates realistics images in addition to high quality videos enabling applications in video production, special effects, and gaming.
        </p>
        <p class="sub_para"><span style="font-weight: bold;">Text Summarization & Content Translation:</span>Our software solution not only creates concise summaries of longer texts but also generates translations from one language to another, benefiting global communication and localization efforts.
        </p> 
    </div>
    <div class="footer">
      <iframe
        src="../shared/footer.html"
        frameborder="0"
        width="100%"
        height="300"
      ></iframe>
    </div>
    </div>
  </body>
</html>
