<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/aboutPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
  </head>
  <body>
    <div class="container">
      <div class="about_image_container">
        <img src="../../Assets/images/main-aboutus.jpg" />
      </div>
      <div class="content_container">
        <p class="text_para_costa">
          From the beginning, Apollo Computers under its brand "CostaCloud" is
          dedicated to offer the best Business and IT Consulting Solutions.
          Today, we hustle hard to combine transformative technologies and bold
          strategies to support businesses in the current market scenario.<br /><br/>
          With our wide range of solutions including Artificial Intelligence
          (Generative AI and Vision AI), Business Process Automation and
          Management, DevOps and SecOps, Data/Content Security, Cloud Business
          Continuity, and Automation we are helping organizations optimize their
          business processes. Our commitment to cater to end-to-end automation
          for business transformation has helped us emerge as a go-to-digital
          transformation partner.
          <br /><br />
          Our capabilities are to remodel your business strategies to help you
          be more customer-centric, agile, and innovative at the core. With a
          strong set of values, we are committed to delivering the best results
          in a way to not only benefit our clients but also the environment we
          are living in.<br /><br />
          Our partnership with the Top Industry Leaders aims to develop
          strategies to reshape tomorrow and accelerate a growing future for
          all. Together, we with our clients strive to protect this planet for
          the next generation.
          <br /><br />
          CostaCloud - A Brand by Appolo Computers has been unwavering in its
          commitment to deliver premier Business and IT Consulting Solutions.
          Today, we tirelessly endeavor to synergize revolutionary technologies
          with daring strategies to bolster businesses amidst the contemporary
          market landscape.<br /><br />Our comprehensive array of offerings
          encompasses Artificial Intelligence (Generative AI and Vision AI),
          Business Process Automation and Management, DevOps and SecOps,
          Data/Content Security, Cloud Business Continuity, and Automation, all
          designed to empower organizations in streamlining their operational
          workflows. Our resolute dedication to enabling end-to-end automation
          for business metamorphosis has positioned us as the preferred ally for
          digital transformation.<br /><br />We possess the prowess to reshape
          your business paradigms, fostering a culture of customer-centricity,
          agility, and innovation at the very core. Guided by a robust set of
          principles, we are resolute in delivering superlative outcomes in a
          manner that enriches not only our clients but also the environment we
          coexist with. <br />Collaborating with preeminent industry
          pioneers, our objective is to sculpt strategies that will redefine the
          future and expedite prosperous growth for all. United with our
          clients, we aspire to safeguard this planet for generations to come."
        </p>

      </div>
      <section>
        <div class="mission_container">
          <h1 class="mission_heading">Our Missions</h1>
          <div class="logo_text_mission">
            <img src="../../Assets/images/aboutus-our-mission.jpg" />
            <p>
              To deliver Optimum solutions to our clients to help them create
              significant improvements in their performance and to build a firm
              having greate people , partners, and clients who make a difference
              to the world.
            </p>
          </div>
        </div>
        <div class="visons_container">
          <h1 class="vision_heading">Our Vision</h1>
          <div class="logo_text_vison">
            <img src="../../Assets/images/aboutus-our-vision.jpg" />
            <p>
              To the priority of the organizations require process efficiency to
              help them leverage the business transformation journey.
            </p>
          </div>
        </div>
      </section>
      <div class="leadership">
        <h1 class="headng_leadership">Leadership Profile</h1>
        <p class="leadership_p">
          In the dynamic landscape of our digital platform , a robust and
          visionary leadership team stands at the helm, steering our
          organization towards innovation, growth, and excellence. Our
          leadership embodies a diverse array of skills , experience , and
          expertise , synergistically working together to drive our mission
          forward. Let's delve into the key members of our leadership team.
        </p>
      </div>
      <div class="key_Customer">
        <h1 class="key_Customer_heading">Key Customers</h1>
        <div class="reel_of_image">
          <div class="film-strip">
            <div class="film-reel">
              <div class="border"></div>
              <div class="carousel">
                <div class="carousel-item">
                  <img
                    src="../../Assets/images/key-customers-1.jpg"
                    alt="Image 1"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../Assets/images/key-customers-2.jpg"
                    alt="Image 2"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../Assets/images/key-customers-3.jpg"
                    alt="Image 3"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../Assets/images/key-customers-4.jpg"
                    alt="Image 4"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../Assets/images/key-customers-5.jpg"
                    alt="Image 5"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../../Assets/images/key-customers-6.jpg"
                    alt="Image 6"
                  />
                </div>
              </div>
              <div class="border"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <iframe
          src="/Components/shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
    <script>
      const filmReel = document.querySelector(".film-reel");
      const carouselItems = document.querySelectorAll(".carousel-item");
      const filmReelWidth =
        carouselItems.length * (carouselItems[0].offsetWidth + 4);
      filmReel.style.width = `${filmReelWidth}px`;
    </script>
  </body>
</html>
