<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/aboutPage.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@100;200&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>About Us</title>
  </head>
  <body>
    <div class="container">
      <div class="banner_container">
        <img src="/Assets/images/about Us/about us-banner.png" />
      </div>
      <div class="content_section">
        <p class="about_content">
          CostaCloud - A Brand by Appolo Computers has been unwavering in its
          commitment to deliver premier Business and IT Consulting
          <br />Solutions. Today, we tirelessly endeavor to synergize
          revolutionary technologies with daring strategies to bolster
          businesses<br />
          amidst the contemporary market landscape.
        </p>
        <p class="para_2">
          Our comprehensive array of offerings encompasses Artificial
          Intelligence (Generative AI and Vision AI), Business Process<br />
          Automation and Management, DevOps and SecOps, Data/Content Security,
          Cloud Business Continuity, and Automation, all designed to
          <br />empower organizations in streamlining their operational
          workflows. Our resolute dedication to enabling end-to-end
          automation<br />
          for business metamorphosis has positioned us as the preferred ally for
          digital transformation.
        </p>
        <p class="para_3">
          We possess the prowess to reshape your business paradigms, fostering a
          culture of customer-centricity, agility, and innovation at the very<br />
          core. Guided by a robust set of principles, we are resolute in
          delivering superlative outcomes in a manner thatenriches not only our
          <br />
          clients but also the environment we coexist with.
        </p>
      </div>
      <div class="timeline_section">
        <div class="journey">
          <h1>Our <span style="color: #1616b6;">Journey</span></h1>
        </div>
        <img src="/Assets/images/about Us/Timeline.png" alt="image is not found" />
      </div>
      <div class="mission_vision_container">
        <div class="mission_section">
          <div class="heading">
            <div class="img_section">
              <h1>Our <span style="color: #1616b6">Mission</span></h1>
              <img
                src="/Assets/images/about Us/goal.png"
                height="40"
                width="40"
              />
            </div>
          </div>
          <div class="mission_content">
            <p>
              To deliver optimum solutions to our clients to help them create
              significant improvements in their performance and to build a firm
              having great people,<br />
              partners, and clients who make a difference to the world.
            </p>
          </div>
        </div>
        <div class="vision_section">
          <div class="heading">
            <div class="img_section">
              <h1>Our <span style="color: #1616b6">Vision</span></h1>
              <img
                src="/Assets/images/about Us/target.png"
                height="40"
                width="40"
              />
            </div>
          </div>
          <div class="vision_content">
            <p>
              To be the priority of the organizations require process efficiency
              to help them leverage the business transformation journey.
            </p>
          </div>
        </div>
      </div>
      <div class="card_container">
        <div class="items_card">
          <div class="first_section">
            <div class="card-body">
              <h2 class="card-title"><span style="color: #1616b6;">Core</span> Values</h2>
              <p class="card-text">
                To be the prioirity of the of organizations require process
                efficiency to help them leverage the business transformation
                journey.
              </p>
            </div>

            <div class="card" style="background-color: #f6cde3">
              <div class="card-body">
                <div class="quality">
                  <img
                    src="/Assets/images/about Us/Quality.png"
                    alt="image is not found"
                    height="40"
                    width="40"
                  />
                  <h2 class="card-title">Quality</h2>
                </div>
                <p class="card-text" style="margin-top: 10px">
                  We strive for excellence in all aspects of software
                  development, including code quality, user experience, and
                  system reliability.
                </p>
              </div>
            </div>
            <div class="card" style="background-color: #dadcf8">
              <div class="card-body">
                <div class="customer">
                  <img
                    src="/Assets/images/about Us/Customer (2).png"
                    alt="image is not found"
                    height="40"
                    width="40"
                  />
                  <h2 class="card-title">Customer</h2>
                </div>
                <p class="card-text" style="margin-top: 10px">
                  Our Team focuses on understanding and meeting the needs of
                  clients, ensuring their success and satisfaction.
                </p>
              </div>
            </div>
          </div>
          <div class="second_section">
            <div class="card" style="background-color: #f5f5d0">
              <div class="card-body">
                <div class="sustain">
                  <img
                    src="/Assets/images/about Us/Sustainability.png"
                    alt="image is not found"
                    height="40"
                    width="40"
                  />
                  <h2 class="card-title">Sustainability</h2>
                </div>
                <p class="card-text" style="margin-top: 10px">
                  We, at CostaCloud are committed to minimize the environmental
                  impact of software development and operations.
                </p>
              </div>
            </div>
            <div class="card" style="background-color: #f5d3c3">
              <div class="card-body">
                <div class="security">
                  <img
                    src="/Assets/images/about Us/security.png"
                    alt="image is not found"
                    height="40"
                    width="40"
                  />
                  <h2 class="card-title">Security</h2>
                </div>
                <p class="card-text" style="margin-top: 10px">
                  Since inception we have been prioritizing the security of both
                  the software developed and the data it handles as we know what
                  your data means to you.
                </p>
              </div>
            </div>
            <div class="card" style="background-color: #dbf6ed">
              <div class="card-body">
                <div class="Innovation">
                  <img
                    src="/Assets/images/about Us/innovation.png"
                    alt="image is not found"
                    height="40"
                    width="40"
                  />
                  <h2 class="card-title">Innovation</h2>
                </div>
                <p class="card-text" style="margin-top: 10px">
                  Innovation is the heart of development and is vital for
                  growth, sustainability, and competitiveness. We believe in
                  encouraging creativity and the continuous pursuit of new and
                  improved solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="keyleader">
        <img
          src="/Assets/images/about Us/Layer 4.png"
          height="500px"
          width="500px"
        />
        <div class="content_leader">
          <div class="key_heading">
            <h1>Key &nbsp;<span style="color: #1616b6">Leadership</span></h1>
          </div>
          <p style="text-align: right;margin-top: 30px;">
            In the dynamic landscape of our digital platform, a robust and
            visionary leadership team stands at the helm, steering our
            organization towards innovation, growth, and excellence. Our
            leadership embodies a diverse array of skills, experience, and
            expertise, synergistically working together to drive our mission
            forward.
          </p>
        </div>
      </div>
      <div class="keycustomer">
       <div class="key_customer_head">
        <h1>Some Of Our <span style="color: #1616b6;">Clients</span></h1>
       </div>
        <div class="first_key">
          <img src="/Assets/images/about Us/01.png"/>
          <img src="/Assets/images/about Us/02.png"/>
          <img src="/Assets/images/about Us/03.png"/>
          <img src="/Assets/images/about Us/04.png"/>
          <img src="/Assets/images/about Us/05.png"/>
        </div>
        <div class="second_key">
          <img src="/Assets/images/about Us/06.png"/>
          <img src="/Assets/images/about Us/07.png"/>
          <img src="/Assets/images/about Us/08.png"/>
          <img src="/Assets/images/about Us/09.png"/>
        </div>
      </div>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
