<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/solutionMain.css" />
    <title>Careers</title>
  </head>
  <body>
    <div class="container">
      <div class="img_container">
        <img
          src="/Assets/images/main-Collaboration-and-Communication.jpg"
          alt="image not found"
        />
        <h1>Careers</h1>
      </div>
      <div class="content">
        <p style="text-align: center; word-wrap: break-word; margin: 20px 30px">
          If you are looking for a good career growth and want to give a kick
          start to your professional journey in the field of software
          development<br />
          then CostaCloud is the right place for you.What makes us stand out
          from others is the way we integrate fun with learning<br />
          at our workplace. The platform provided here not only nurtures your
          talent<br />
          but also provides ample opportunities for your future.
        </p>
        <div class="careers_img">
          <img src="/Assets/images/careers.jpeg" />
        </div>
        <div class="campus_">
          <h1 class="recruitment_h1">
            Campus <span style="color: #1616b6">Recruitment</span>
          </h1>
        </div>
        <p>
          Get in touch with us for campus recruitment and the respective
          dates.You can reach out to us on
          <a href="#">shivani@costacloud.com</a> for any related query.
        </p>

        <div class="current_openings">
          <h1 style="font-weight: bold; color: #000000;font-size: 1.8rem;">
            Current <span style="color: #1616b6">Openings</span>
          </h1>
        </div>
        <p>
          <a href="#">Click here</a> to find all the open positions in the
          Organization. Note: Please check the eligibility criteria before
          applying the job.
        </p>
      </div>
    </div>
  </body>
</html>
