<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/careers.css" />
    <title>Careers</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <img
          src="/Assets/images/Careers/Career- banner.png"
          alt="image is not found"
        />
      </div>
      <div class="careers_content">
        <p>
          If you are looking for a good career growth and want to give<br />
          a kick start to your professional journey in the field of software
          development then CostaCloud is the right place for you.
        </p>
        <p>
          What makes us stand out from others is the way we integrate fun with
          learning at our workplace. The platform provided here not only
          <br />
          nurtures your talent butalso provides ample opportunities for your
          future.
        </p>
      </div>
      <div class="perks_section">
        <div class="_h1">
          <h1 style="z-index: 1">Perks</h1>
          <img
            src="/Assets/images/Careers/red (1).png"
            height="25"
            width="25"
            class="perks_b"
          />
        </div>
        <div class="perks_card">
          <div class="first_sec">
            <div class="card top_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/health-insurance.png"
                    alt="image is not found"
                    height="50"
                    width="50"
                  />
                  Medical Insurance
                </p>
              </div>
            </div>
            <div class="card top_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/fun.png"
                    alt="image is not found"
                    height="50"
                    width="50"
                  />
                  Fun@work
                </p>
              </div>
            </div>
            <div class="card top_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/calendar_4760302.png"
                    alt="image is not found"
                    height="50"
                    width="50"
                  />
                  Leave & Holidays
                </p>
              </div>
            </div>
          </div>
          <div class="second_sec">
            <div class="card bottom_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/analysis.png"
                    height="50"
                    width="50"
                  />
                  Training & Development
                </p>
              </div>
            </div>
            <div class="card bottom_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/higher-education.png"
                    height="50"
                    width="50"
                  />
                  Higher Education Support
                </p>
              </div>
            </div>
            <div class="card bottom_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/internship.png"
                    height="50"
                    width="50"
                  />
                  Internship
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="campus_recruitment">
        <div class="bubble_h1">
          <img
            src="/Assets/images/Careers/red (3).png"
            height="25"
            width="25"
          />
          <h1>Cammpus Recruitment</h1>
        </div>
        <div class="content_campus">
          <p>
            Get in touch with us for campus recruitment and the respective
            dates. You can reach out to us on
            <a href="">shivani@costacloud.com</a>&nbsp;for any related querry.
          </p>
          <img src="/Assets/images/Careers/Vector Smart Object-Re.png" height="400" width="400"/>
        </div>
      </div>
    </div>
  </body>
</html>
