<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/careers.css" />
    <title>Careers</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <img
          src="/Assets/images/Careers/Career- banner.png"
          alt="image is not found"
        />
      </div>
      <div class="careers_content">
        <p>
          If you are looking for a good career growth and want to give<br />
          a kick start to your professional journey in the field of software
          development then CostaCloud is the right place for you.
        </p>
        <p>
          What makes us stand out from others is the way we integrate fun with
          learning at our workplace. The platform provided here not only
          <br />
          nurtures your talent butalso provides ample opportunities for your
          future.
        </p>
      </div>
      <div class="perks_section">
        <div class="_h1">
          <h1 style="z-index: 1">Perks</h1>
          <img
            src="/Assets/images/Careers/red (1).png"
            height="25"
            width="25"
            class="perks_b"
          />
        </div>
        <div class="perks_card">
          <div class="first_sec">
            <div class="card top_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/health-insurance.png"
                    alt="image is not found"
                    height="50"
                    width="50"
                  />
                  Medical Insurance
                </p>
              </div>
            </div>
            <div class="card top_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/fun.png"
                    alt="image is not found"
                    height="50"
                    width="50"
                  />
                  Fun@work
                </p>
              </div>
            </div>
            <div class="card top_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/calendar_4760302.png"
                    alt="image is not found"
                    height="50"
                    width="50"
                  />
                  Leaves & Holidays
                </p>
              </div>
            </div>
          </div>
          <div class="second_sec">
            <div class="card bottom_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/analysis.png"
                    height="50"
                    width="50"
                  />
                  Training & Development
                </p>
              </div>
            </div>
            <div class="card bottom_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/higher-education.png"
                    height="50"
                    width="50"
                  />
                  Higher Education Support
                </p>
              </div>
            </div>
            <div class="card bottom_card" style="background-color: #deebea">
              <div class="card-body">
                <p class="card-text" style="margin-top: 10px">
                  <img
                    src="/Assets/images/Careers/internship.png"
                    height="50"
                    width="50"
                  />
                  Internship
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="campus_recruitment">
        <div class="bubble_h1">
          <img
            src="/Assets/images/Careers/red (3).png"
            height="25"
            width="25"
          />
          <h1><span style="color: #1616b6">Campus</span> Recruitment</h1>
        </div>
        <div class="content_campus">
          <p>
            We invite talented and ambitious students to embark on a journey
            that can shape their future in ways they never imagined. At
            CostaCloud, we believe in nurturing young talents and providing them
            with the opportunities they need to thrive in the professional
            world.<br />
            Get in touch with us for campus recruitment and the respective
            dates. You can reach out to us on
            <a href="">shivani@costacloud.com</a>&nbsp;for any related querry.
          </p>
          <img
            src="/Assets/images/Careers/Vector Smart Object-Re.png"
            height="300"
            width="300"
          />
        </div>
      </div>
      <div class="open_positions">
        <div class="open_position_heading">
          <h1>Open <span style="color: #1616b6">Position</span></h1>
        </div>
        <div class="card_container">
          <div class="card card_openings">
            <div class="card-body" style="margin-left: 20px">
              <h4 class="card-title">IBM BPM Developer</h4>
              <div class="jobs_contents">
                <p class="jobs_des">
                  <span style="font-weight: bold"> Experience -</span> 3/5 years
                  | Qualification - Btech CSE | Location - Okhla, New Delhi,
                  India
                </p>
                <p class="jobs_des">
                  <span style="font-weight: bold"> Skills -</span> Minimum 3
                  Years in IBM BAW/ WAS/ ECM administration, BPM/ECM platform
                </p>
                <p class="jobs_des">
                  <span style="font-weight: bold"> Must have-</span> OEM
                  certification for IBM Digital Business Automation platform |
                  Knowledge of JAVA, C++ | Preferred IBM WebSphere Certified
                </p>
              </div>
            </div>
          </div>
          <div class="card card_openings">
            <div class="card-body" style="margin-left: 20px">
              <h4 class="card-title">Java Developer</h4>
              <div class="jobs_contents">
                <p class="jobs_des">
                  <span style="font-weight: bold"> Experience -</span> Fresher |
                  Qualification - Btech CSE | Location - Okhla, New Delhi, India
                </p>
                <p class="jobs_des">
                  <span style="font-weight: bold"> Skills -</span>
                  Spring Boot, Spring, Hibernate, Microservices based
                  orchitecture, Regict Js, Java, Core Java, API.
                </p>
                <p class="jobs_des">
                  <span style="font-weight: bold">Should be-</span> familiar
                  with front end technologies as well. I Fresher candidates are
                  required.
                </p>
              </div>
            </div>
          </div>
          <div class="card card_openings">
            <div class="card-body" style="margin-left: 20px">
              <h4 class="card-title">Frontend Developer</h4>
              <div class="jobs_contents">
                <p class="jobs_des">
                  <span style="font-weight: bold"> Experience -</span> Fresher |
                  Qualification - Btech CSE I Location - Okhla, New Dolhi, India
                </p>
                <p class="jobs_des">
                  <span style="font-weight: bold"> Skills -</span> Must have
                  implemented projects in Reacts | Done projects in java, React
                  is, html, oss, javascript.
                </p>
                <p class="jobs_des">
                  <span style="font-weight: bold"> Must have-</span> Having full
                  stack skills will be preferred
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="newsletter_sectioin">
        <h4
          style="
            text-align: center;
            font-size: 2.1rem;
            font-weight: bold;
            position: relative;
            margin-bottom: 30px;
          "
        >
          Subscribe for our Newsletter
        </h4>
        <div class="card news_letter">
          <div class="card-body" style="margin-left: 20px">
            <div class="news_letter_content">
              <div class="form-group">
                <label for="inputField">NAME</label>
                <input type="text" id="inputField" name="inputField" />
              </div>
              <div class="form-group">
                <label for="inputField">EMAIL ID</label>
                <input type="text" id="inputField" name="inputField" />
              </div>
              <button class="ns_btn">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
