<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/Assets/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
  </head>
  <body>
    <footer>
      <div class="footer_container">
        <div class="first_part">
          <img src="../../Assets/images/logo-appolocom-footer.png" alt="" />
          <div
            style="
              display: flex;
              justify-content: space-between;
              margin-top: 20px !important;
            "
          >
            <img src="../../Assets/images/logo-make-in-india-footer.png" />
            <img src="../../Assets/images/logo-digital-india-footer.png" />
          </div>
        </div>
        <div class="second_part">
          <h1 class="heading_footer" style="margin-left: -2px;">Services</h1>
          <p class="p_f">Document Management System</p>
          <p class="p_f">
            TeamSync Content<br />
            Collaboration
          </p>
          <p class="p_f">File/Note Management</p>
          <p class="p_f">
            Correspondance/DAK<br />
            Management
          </p>
          <p class="p_f">Procure to Pay</p>
          <p class="p_f">Vendor Portal</p>
        </div>
        <div class="third_part">
          <h1 class="heading_footer" style="margin-left: -2px;">Useful Links</h1>
          <p class="p_f">Solutions</p>
          <p class="p_f">Contact us</p>
          <p class="p_f">Careers</p>
          <p class="p_f">Resources</p>
        </div>
        <div class="fourth_part">
          <h1 class="heading_footer">Connect With Us</h1>
          <div class="address" style="display: flex">
            <img
              src="../../Assets/images/homepage-icon-location.png"
              height="40"
              width="40"
            />
            <p class="p_f">
              013A, GF, NSIC Buisness Park, <br />Okhala, New Delhi-110020
            </p>
          </div>
          <div class="address" style="display: flex">
            <img
              src="../../Assets/images/ico-phone.png"
              height="40"
              width="40"
            />
            <p class="p_f">+91-9090979741 , +91-9090050518</p>
          </div>
          <div class="address" style="display: flex">
            <img
              src="../../Assets/images/ico-mail.png"
              height="40"
              width="40"
            />
            <p class="p_f">sales@costacloud.com</p>
          </div>
          <div
            style="
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 1px;
              width: 100px;
              padding: 20px;
            "
          >
            <img src="../../Assets/images/ico-linkedin.png" height="20" width="20"/>
            <img src="../../Assets/images/ico-fb.png" height="20" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
