<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Assets/css/homePage.css" />
  </head>
  <body>
    <div class="container">
      <section class="homepage_banner">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/Assets/images/homepage.jpg"
                class="d-block w-100"
                alt="First slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <h1>
                  <span style="font-size: 30px !important"
                    >Let's get started with your</span
                  ><br /><span style="font-size: 42px !important"
                    >Digital Transformation Journey</span
                  >
                </h1>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/Assets/images/homepage-banner2.jpg"
                class="d-block w-100"
                alt="Second slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <h1>
                  <span style="font-size: 30px !important">
                    Sustanability at the Heart of</span
                  ><br /><span style="font-size: 42px !important"
                    >Technological Excellence</span
                  >
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="about_costacloud">
        <div class="text_container">
          <h1>About Costacloud</h1>
          <p>
            Costacloud is empowring envoironmental and social changes through
            the flagship initiatives of Digital india and make in india. With
            our long-term commitment to achieve complience and security of
            technological aspects we are even contributing to sustainability in
            various ways.
          </p>
          <p>
            Our array of eGovernance solution has led to a more efficient,
            transparent, and citizen-centric government, strengthening the
            relationship between citizens and the state promoting overall
            socio-economic development.
          </p>
          <p>
            Our collaboration with the partners and clients has helped them
            address and create a difference to some of the most pressing
            challenges of the world. Since inception, we have always prioritized
            envoironmental governance and protection.
          </p>
        </div>
        <div class="marketing_logo">
          <img
            src="/Assets/images/homepage-numbers.jpg"
            alt=""
            class="homepage_number"
          />
        </div>
      </section>
      <section class="resources_managed_section">
        <div class="images">
          <img
            src="/Assets/images/homepage-saves-trees.jpg"
            alt=""
            class="saved_tree_images"
          />
        </div>
        <div class="resources">
          <div class="tree_saved_content">
            <h1 style="color: #f0c22c; font-size: x-large; font-weight: bold">
              TREES SAVED
            </h1>
            <p>
              Trees play a significant role in preserving our universe by
              reducing carbon footprints by CO2 emissions and increasing air
              oxygen levels in the face of the looming risks of climate change
              throughout the globe. According to studies, recycling 1 ton of
              paper prevents the destruction of 13 trees. The growing use of
              various electronic documents, which protects us from pollution and
              global warming, facilitates the move away from paper.
            </p>
          </div>
          <div class="time_saved_content">
            <h1 style="color: #469e94; font-size: x-large; font-weight: bold">
              TIME SAVED
            </h1>
            <p>
              While it often takes 2 seconds to get information from an
              electronic document like pdf, it typically takes to do it for
              papers. On devices, retrieving electronic documents is simple
              thanks to key indexes like "date, keyword" or other defined
              content. It helps people be more productive and save a lot of
              time. By transmitting revised agreements, purchase agreements,
              legal documents, and other documents digitally to clients or
              colleagues, you can also save time.
            </p>
          </div>
          <div class="datamanaged_content">
            <h1 style="color: #b30000; font-size: x-large; font-weight: bold">
              DATA MANAGED
            </h1>
            <p>
              In today's fast-paced digital landscape, managing data effectively
              is paramount to success. Our solutions are your ultimate partner
              in transforming data chaos into streamlined efficiency. Currently,
              we are managing 6 petabytes of data, revolutionizing the way you
              handle it, offering a comprehensive suite of tools designed to
            </p>
          </div>
          <div class="security_content">
            <h1 style="color: #006880; font-size: x-large; font-weight: bold">
              SECURITY
            </h1>
            <p>
              A paperless office provides a range of positive aspects of
              security offering enhanced access control, stronger
              authentication, encryption, accountability, compliance monitoring,
              and efficient incident response. Leveraging these advantages
              through proper implementation and continuous vigilance can
              significantly bolster an organization's security posture in the
              digital age.
            </p>
          </div>
        </div>
      </section>

      <section class="testimonials">
        <div class="card-container">
          <div class="grid_1">
            <h1 style="text-align: left; position: relative; left: -10px;">Testimonials</h1>
            <p style=" text-align: left" class="p">
              Costacloud is helping buisnesses with the Full Lifecycle of their
              Content and Processes. From helping them move from a paper based
              buisness process to a full paperless office to providing Buisness
              Analytics on their content and process to helping them save costs
              by moving them to the Cloud to providing Buisness Continuity.
            </p>
          </div>
          <div class="grid_2">
            <img src="/Assets/images/homepage-testimonial-1.jpg" />
            <div class="icon">
              <span class="entity_codes">&#x0312; &#x0312;</span>
            </div>
            <div class="grid_text">
              <p class="text_inside_card">
                I would never have expected a startup to have more insight into
                document Management system as compared to the Big 4...
              </p>
              <h4 class="heading_card">Umesh Vashihta</h4>
              <p class="text_inside_card">CIO, Unitech</p>
            </div>
          </div>
          <div class="grid_3">
            <img src="/Assets/images/homepage-testimonial-2.jpg" />
            <div class="icon">
              <span class="entity_codes">&#x0312; &#x0312;</span>
            </div>
            <div class="grid_text">
              <p class="text_inside_card">
                We engaged CostaCloud for our VDI requirement . They are through
                professionals, were able to match are tough ... deadlines....and
                yet
              </p>
              <h4 class="heading_card">Aditya Gupta</h4>
            </div>
          </div>
          <div class="grid_4">
            <img src="/Assets/images/homepage-testimonial-3.jpg" />
            <div class="icon">
              <span class="entity_codes">&#x0312; &#x0312;</span>
            </div>
            <div class="grid_text">
              <p class="text_inside_card">
                CostaCloud was able to provide us Buisness Continuity Solution
                that fit our needs. We had been struggling for the last...
              </p>
              <p style="text-align: left">Rockwell Automation</p>
            </div>
          </div>
        </div>
      </section>
      <section class="world_map">
        <h1 style="text-align: left; font-weight: bold;">Our offices around the world</h1>
        <img src="/Assets/images/homepage-location-banner.jpg" />
      </section>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
