<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:wght@100;200&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto+Slab:wght@100&family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Assets/css/homePage.css" />
  </head>
  <body>
    <div class="container">
      <section class="homepage_banner">
        <video autoplay loop muted playsinline>
          <source src="/Assets/Videos/Joy Systems White tech background.mp4" type="video/mp4">
      </video>

        <div class="homepage">
            <div class="line-animation">
              <span class="line-1" >Let's get started with your</span><br/>
              <span class="line-2">Digital Transformation Journey</span>
              <p>We combine transformative Technologies and bold strategies to support<br/> businesses in their current market scenarios</p>
              <button class="btn_contact">Contact Us</button>
          </div>
          <img src="/Assets/images/animation/intelligence-robot.gif" class="d-block w-100" alt="image is not found" style="height: 100vh !important;" />
        </div>



      </section>
      <section class="about_costacloud">
        <div class="line_break"></div>
        <div class="text_container">
          <h1 class="about_heading">About <span style="color: #1616b6;">Costacloud</span></h1>
          </div>

        <div class="about_content">
          <p class="para_about">
            Costacloud is empowring envoironmental and social changes through
            the flagship initiatives of Digital india and make in india. With
            our long-term<br/> commitment to achieve complience and security of
              technological aspects we are even contributing to sustainability in
              various ways.
              Our array<br/> of eGovernance solution  has led to a more efficient,
                transparent, and citizen-centric government, strengthening the
                relationship between<br/> citizens and the state promoting overall
                  socio-economic development.
                  Our collaboration with the partners and clients has helped them
                  address<br/> and create a difference to some of the most pressing
                    challenges of the world. Since inception, we have always prioritized
            envoironmental<br/> <span style="text-align: left !important;">governance and protection.</span>
          </p>

          <div class="vertical_animation animated ">
            <img src="/Assets/images/animation/Infographic_1.gif" class="infographic_gif" alt="image is not found" />
          </div>   
        </div>  
      </section>
      <div class="static_h1">
        <!-- <div class="curve"></div> -->
        <h1><span style="color: #1616b6;">Statistics</span> on Savings Earned</h1>
      </div>
      <section class="resources_managed_section">
        <div class="images">
          <img
            src="/Assets/images/Treesave.png"
            alt=""
            class="saved_tree_images"
          />
        </div>
        <div class="resources">
          <div class="tree_saved_content">
            <h1  class="h1_tree_save">
              TREES SAVED
            </h1>
            <p style="text-align: justify;">
              The global demand for paper continues to rise steadily, leading to millions of hectares of forests being harvested each year, despite efforts in recycling. Surprisingly, there are still companies and institutions that print out even their email communications.<span style="font-weight: bold; color: #000000;"> Projections indicate that by 2060, the worldwide demand for paper and pulp will double be compared to 2010 levels.</span> <br/><br/>
              However, it's crucial to recognize that everyone has the power to make a positive impact by reducing their paper usage. This includes businesses transitioning from paper-based workflows to electronic processes made possible by advanced technology. <br/><br/>
             <span style="font-weight: bold; color: #000000;">According to a Survey, switching to a paperless office saves 48000 trees in a year which indicates we save 131 trees in a day</span><br/>
             This shift is not only anticipated by consumers who increasingly prefer online payments and electronic document signing but also brings benefits like environmental preservation, substantial cost savings, and enhanced competitiveness.

            </p>
          </div>
          <div class="time_saved_content">
            <h1 class="h1_time_save" >
              TIME SAVED
            </h1>
            <p style="text-align: justify;">
              <span style="font-weight: bold; color: rgb(255, 115, 0);">Time is money! </span><br/>
               Each day, employees spend up to two hours looking for files. The costs start to mount when you look at the figures over the course of a whole year.<br/><br/>
               Large enterprises lose a file every six seconds on average. Losing a file might result in serious security risks and the possibility of legal action. It's crucial to keep vital documents organized and stored in a secure manner. 
               Furthermore, managers may spend an average of 4 weeks each year looking for lost or missing information. This crucial time was lost as a result of inadequate file management. <br/><br/>
              <span style="font-weight: bold; color: #000000;"> A paperless record-management system eliminates about 4 days of file processing time.</span> When it comes to time savings, this is a huge advancement. Saving time for personnel within the organization is made possible through the scanning of records. Time savings create opportunity for greater personal development and project development.

            </p>
          </div>
          <div class="datamanaged_content">
            <h1 class="h1_data_">
              DATA MANAGED
            </h1>
            <p style="text-align: justify;">
              In today's fast-paced digital landscape, managing data effectively is paramount to success. Our Solutions are your ultimate partner in transforming data chaos into streamlined efficiency. <br/>
           <p> <span style="font-weight: bold;color: #000000;"> Currently we are managing 6 petabytes of data,</span>  revolutionizing the way you handle it, offering a comprehensive suite of tools designed to simplify, organize, and optimize your workflow.</p>
              With our intuitive data management solution, you can seamlessly store, and retrieve your data, ensuring that your information is always accessible when you need it most. From data cleansing and data integration to data security and compliance, we empower you to take control of your data ecosystem.
              
            </p>
          </div>
          <div class="security_content">
            <h1 class="security_h1" style="color: #ff9c00; font-size: x-large; font-weight: bold">
              SECURITY
            </h1>
            <p style="text-align: justify;">
              Software security is a critical aspect of ensuring the protection of digital assets and sensitive data.
              Our paperless office suite provides a range of&nbsp;<span style="font-weight: bold;color: #000000;text-align: justify;">positive aspects for security, offering enhanced access control, stronger authentication, encryption, accountability, compliance monitoring, and efficient incident response.</span>  <br/><br/>
              Leveraging these advantages through proper implementation and continuous vigilance can significantly bolster an organization's security posture in the digital age.
            </p>
          </div>
        </div>
      </section>


      <section class="clients_section">
        <div class="client">
          <div class="heading_text">
            <div class="ourclient_h1">
              <h1 class="client_heading">Our <span style="color:#1616b6 !important;">Clients</span></h1>
            </div>
<p style="text-align: left; word-wrap: break-word;margin-top: 10px;">Our esteemed clientele consists of industry leaders, and We are proud to have partnered with the  diverse array of organization. We value each  of our clients' unique needs and are honored to have played a role in their success stories.</p>
          </div>
          <div class="cleints_animation">
            <div class="img_first">
              <img src="/Assets/images/Clients/9.png" alt="image is not found"  class="ball icon_1"/>
              <img src="/Assets/images/Clients/3.png" alt="image is not found" class="cl_img icon_2" />
              <img src="/Assets/images/Clients/6.png" alt="image is not found" class="ball icon_3"/>
              <img src="/Assets/images/Clients/7.png" alt="image is not found" class="ball icon_4"/>
              <img src="/Assets/images/Clients/2.png" alt="image is not found" class="cl_img icon_5"/>
            </div>
            <div class="img_sec">
              <img src="/Assets/images/Clients/10.png" alt="image is not found" class="cl_img icon_6"/>
              <img src="/Assets/images/Clients/5.png" alt="image is not found" class="ball icon_7"/>
              <img src="/Assets/images/Clients/11.png" alt="image is not found" class="cl_img icon_8"/>
              <img src="/Assets/images/Clients/1.png" alt="image is not found" class="cl_img icon_9"/>
              <img src="/Assets/images/Clients/8.png" alt="image is not found" class="ball icon_10"/>

            </div>
          </div>
        </div>
      </section>

      <section class="testimonials">
        <div class="container">
          <div class="heading">
            <div class="hea">
              <h1 >What Our <span style="color: #1616b6;">Clients</span> Say</h1>

            </div>
            <p class="test_p_">CostaCloud is helping businesses with the Full Lifecycle of their Content and Processes. From helping them move from a paper based <br/>business process to a full paperless office to providing Business Analytics on their content and processes to helping them<br/> save costs by moving them to the Cloud to providing Business Continuity.</p>
          </div>
          <div id="carouselExampleIndicators" class="carousel slide testimonials_slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="testimonial_logo">
                    <img src="/Assets/images/testimonials/nhb.png" class="d-block nhb_logo " alt="Slide 1"  />
                    <img src="/Assets/images/testimonials/Img 2.png" alt="image is not found" class="img_test" />
                  </div>
                  <img src="/Assets/images/testimonials/buble 1.png" alt="image is not found" class="bubble_1"/>
                  <div class="_items">
                    <img src="/Assets/images/testimonials/Img 1.png" alt="image is not found" class="image_1" />
                    <img src="/Assets/images/testimonials/buble 2.png" alt="image not found" />
                    <div class="content_testimonials">
                      <h1 class="h1_">National Housing Bank</h1>
                      <p class="p_">Financial Institution</p>
                    </div>
               
                  </div>
                  <div class="arrow_items">
                    <div class="arrow_b">
                      <img src="/Assets/images/testimonials/left-arrow.png" alt="image is not found" class="left_arrow"/>
                    </div>
                    <img src="/Assets/images/testimonials/stars.png" class="stars"/>
                    <div class="arrow_b">
                      <img src="/Assets/images/testimonials/right-arrow.png" class="left_arrow"/>
                    </div>
                  </div>
                  <div class="testimonial_content">
                    <p><span>""</span>I would never have expected a Startup to have more insight into Document<br/> Management Systems as compared to the Big 4 Consulting Companies. CostaCloud proved me wrong. <br/>They really know Content Management. I would highly recommend them.<span>""</span></p>
                  </div>
                  <div class="testimonial_img">
                    <img src="/Assets/images/testimonials/Img 3.png"  alt="image is not found" />
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial_logo">
                    <img src="/Assets/images/testimonials/maxlife.png" class="d-block maxlife_logo " alt="Slide 1"  />
                    <img src="/Assets/images/testimonials/Img 2.png" alt="image is not found" class="img_test" />
                  </div>
                  <img src="/Assets/images/testimonials/buble 1.png" alt="image is not found" class="bubble_1"/>
                  <div class="_items">
                    <img src="/Assets/images/testimonials/Img 1.png" alt="image is not found" class="image_1" />
                    <img src="/Assets/images/testimonials/buble 2.png" alt="image not found" />
                    <div class="content_testimonials">
                      <h1 class="h1_">Max Life Insurance</h1>
                      <p class="p_">Insurance Company</p>
                    </div>
                  </div>
                  <div class="arrow_items" style="margin-top: 10px;">
                    <div class="arrow_b">
                      <img src="/Assets/images/testimonials/left-arrow.png" alt="image is not found" class="left_arrow"/>
                    </div>
                    <img src="/Assets/images/testimonials/five_star.png" class="five_star"/>
                    <div class="arrow_b">
                      <img src="/Assets/images/testimonials/right-arrow.png" class="left_arrow"/>
                    </div>
                  </div>
                  <div class="testimonial_content">
                    <p><span>""</span>We engaged CostaCloud for our VDI requirements. They are through professionals,<br/> were able to match are tough deadlines and yet keep the smile on their face.<span>""</span></p>
                  </div>
                  <div class="testimonial_img">
                    <img src="/Assets/images/testimonials/Img 3.png"  alt="image is not found" />
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial_logo">
                    <img src="/Assets/images/testimonials/rockwell (1).png" class="d-block rock_auto " alt="Slide 1"  />
                    <img src="/Assets/images/testimonials/Img 2.png" alt="image is not found" class="img_test" />
                  </div>
                  <img src="/Assets/images/testimonials/buble 1.png" alt="image is not found" class="bubble_1"/>
                  <div class="_items">
                    <img src="/Assets/images/testimonials/Img 1.png" alt="image is not found" class="image_1" />
                    <img src="/Assets/images/testimonials/buble 2.png" alt="image not found" />
                    <div class="content_testimonials">
                      <h1 class="h1_">Rockwell Automation</h1>
                      <p class="p_">Automation Company</p>
                    </div>
                  </div>
                  <div class="arrow_items" style="margin-top: 10px;">
                    <div class="arrow_b">
                      <img src="/Assets/images/testimonials/left-arrow.png" alt="image is not found" class="left_arrow"/>
                    </div>
                    <img src="/Assets/images/testimonials/five_star.png" class="five_star"/>
                    <div class="arrow_b">
                      <img src="/Assets/images/testimonials/right-arrow.png" class="left_arrow"/>
                    </div>
                  </div>
                  <div class="testimonial_content">
                    <p><span>""</span>CostaCloud was able to provide us Business Continuity Solution that fit our<br/> needs. We had been struggling for the last 4-5 years with our Business Continuity needs.<span>""</span></p>
                  </div>
                  <div class="testimonial_img">
                    <img src="/Assets/images/testimonials/Img 3.png"  alt="image is not found" />
                  </div>
              </div>
              
            </div>
          </div>
        </div>
        </section>
      <section class="world_map">
        <div class="offices_h1">
          <h1 class="our_offices">Our <span style="color: #1616b6;">Offices</span> around the World</h1>
        </div>
        <div class="image-container">
          <img src="/Assets/images/location/location.gif" class="map_images" alt="image is not found" />
         
        </div>
        
      </section>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
    <script>
     function toggleText(button) {
            const cardText = button.previousElementSibling;
            cardText.classList.toggle('expanded');
            button.textContent = button.textContent === 'See more' ? 'See less' : 'See more';
        }

  </script>    
  </body>
</html>
