<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Assets/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Costacloud</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="#">
          <img
            src="../../Assets/images/logo-header.png"
            height="60"
            class="nav_logo"
          />
        </a>
      </div>
      <ul class="nav-links">
        <li>
          <a
            href="#"
            class="nav_items"
            id="homeLink"
            onclick="loadPage('homePage')"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav_items"
            id="aboutLink"
            onclick="loadPage('aboutPage')"
            >About Us</a
          >
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="true">Solutions</a>
          <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="row">
              <div class="col-md-6">
                <a class="dropdown-item first-item row" href="#" onclick="showSubItems('ai_items');"style="color: #008e97;">ARTIFICIAL INTELLIGENCE</a>
                <a class="dropdown-item row" href="#" onclick="showSubItems('devops')" >DEVOPS</a>               
                <a class="dropdown-item row" href="#" onclick="showSubItems('cloud_enablement')">CLOUD ENABLEMENT SERVICES</a>               
                <a class="dropdown-item row" href="#" onclick="showSubItems('eGov')" >EGOVERMENT SERVICES</a>               
                <a class="dropdown-item row" href="#" onclick="showSubItems('cms')" >CONTENT MANAGEMENT</a>               
                <a class="dropdown-item row" href="#" onclick="showSubItems('enterprise')">ENTERPRISE SOLUTION</a>               
              </div>
              <div class="col-md-6">
                <div id="ai_items" class="submenu">
                  <a class="dropdown-item" href="#"  onclick="loadPage('generativeai')">Generative Ai</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('vision')">Vision Ai</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('sentiment')">Sentiment Analysis</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('textSummarize')">Text Summarization</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('textClassi')">Text Classification</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('language')">Language Translation</a>
                  <a class="dropdown-item" href="#"   onclick="loadPage('chatbot')">Chatbot Development </a>
                </div>
                <div id="devops" class="submenu">
                  <a class="dropdown-item" href="#"  onclick="loadPage('cIntegration')">Continuous Integration</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('cDelivery')">Continuous Delivery</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('Infrastructure')">Infrastructure as Code</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('Configuration')">Configuration Management</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('Monitoring')">Monitoring and Logging</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('collaboration')">Collaboration</a>
                  <a class="dropdown-item" href="#" onclick="loadPage('secops')">SecOps and Analytics</a>
                </div>
                <div id="cloud_enablement" class="submenu">
                  <a class="dropdown-item" href="#"  onclick="loadPage('cloudMigration')">Cloud Migration</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('Establishment')">Establishment of  Kubernetes </a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('Microservices')">Migrating application to Microservices</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('AWS_Azure')">Maintaining AWS Azure</a>
                </div>
                <div id="eGov" class="submenu">
                  <a class="dropdown-item" href="#"  onclick="loadPage('file_note')">File Note Management</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('dak_management')">DAK Management System</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('grivance')">Grievance management </a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('PAM')">Personal Application Management </a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('Citizen')">Citizen Services </a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('rti')">RTI/PQ Management </a>
                </div>
                <div id="cms" class="submenu">
                  <a class="dropdown-item" href="#"  onclick="loadPage('dms')">Document Management System</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('Teamsync')">TeamSync content collaboration </a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('TeamChat')">TeamChat</a>
                </div>
                <div id="enterprise" class="submenu">
                  <a class="dropdown-item" href="#"  onclick="loadPage('procure')">ProcurePay</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('Vedor')">Vedor Portal</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('invoice')">Invoice Management System</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('emplOnbording')">Employee Onboarding & Offboarding</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('bpa')"> Business Process Automation</a>
                  <a class="dropdown-item" href="#"  onclick="loadPage('rpa')"> Robotic Process Automation
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        
        <li>
          <a href="#" class="nav_items"
            >Resources
            <img src="../../Assets/images/dropdown.png" class="dropdown_icon" />
          </a>
        </li>
        <li><a href="#" class="nav_items">Careers</a></li>
        <li><a href="#" class="nav_items">Contact Us</a></li>
      </ul>
    </nav>
    <main>
      <div id="content"></div>
      
    </main>
    <script>
      function loadPage(page) {
        const content = document.getElementById("content");
        switch (page) {
          case "homePage":
            fetch("homePage.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>Error Loading Page</h1>";
              });
            break;
          case "aboutPage":
            fetch("aboutPage.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "generativeai":
            fetch("ArtificialIntelligence/GenerativeAi.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "vision":
            fetch("ArtificialIntelligence/visionAi.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "sentiment":
            fetch("ArtificialIntelligence/sentimentalAnalysis.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "textSummarize":
            fetch("ArtificialIntelligence/TextSum.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "textClassi":
            fetch("ArtificialIntelligence/textClassification.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "language":
            fetch("ArtificialIntelligence/languageTranslation.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "chatbot":
            fetch("ArtificialIntelligence/chatbotDev.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "cIntegration":
            fetch("Devops/continuousInt.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "cDelivery":
            fetch("Devops/continuousDelivery.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Infrastructure":
            fetch("Devops/infrastrcture.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Configuration":
            fetch("Devops/configureManagement.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Monitoring":
            fetch("Devops/Monitoring.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "collaboration":
            fetch("Devops/collaboration.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "secops":
            fetch("Devops/SecOps_Analytics.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "cloudMigration":
            fetch("Cloud Enablement Services/cloudMigration.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Establishment":
            fetch("Cloud Enablement Services/eastabkuner.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Microservices":
            fetch("Cloud Enablement Services/MigratingMonolithic.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "AWS_Azure":
            fetch("Cloud Enablement Services/awsAzure.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "file_note":
            fetch("eGovernance/file_note_management.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            
            case "dak_management":
            fetch("eGovernance/Dak_management.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "grivance":
            fetch("eGovernance/GrivenceManagement.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "PAM":
            fetch("eGovernance/paManagement.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Citizen":
            fetch("eGovernance/citizen_services.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "rti":
            fetch("eGovernance/RtiPqManagement.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "dms":
            fetch("ContentManagement/dms.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Teamsync":
            fetch("ContentManagement/TeamSync.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "TeamChat":
            fetch("ContentManagement/TeamChat.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "procure":
            fetch("EnterpriseSolution/ProcurePay.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "Vedor":
            fetch("EnterpriseSolution/Vendor.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "invoice":
            fetch("EnterpriseSolution/InvoiceManagement.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "emplOnbording":
            fetch("EnterpriseSolution/emplOnbording.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "bpa":
            fetch("EnterpriseSolution/buisnessProcess.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            case "rpa":
            fetch("EnterpriseSolution/roboticsProcess.html")
              .then((response) => response.text())
              .then((html) => {
                content.innerHTML = html;
              })
              .catch((error) => {
                content.innerHTML = "<h1>error while loading the page</h1>";
              });
            break;
            
            
          
          case "contact":
            content.innerHTML =
              "<h1>Contact Us</h1><p>Contact information goes here.</p>";
            break;
          default:
            content.innerHTML =
              "<h1>Page Not Found</h1><p>The requested page does not exist.</p>";
            break;
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        loadPage("homePage");
      });


// Dropdown functionalities
    function showSubItems(itemType) {
      event.stopPropagation();
    const ai_items = document.getElementById('ai_items');
    const devops = document.getElementById('devops');
    const cloud_enablement = document.getElementById("cloud_enablement");
    const eGov = document.getElementById("eGov");
    const cms = document.getElementById("cms");
    const enterprise = document.getElementById("enterprise");

    $(document).ready(function() {
    $('.dropdown-item').click(function() {
        $('.dropdown-item').css('color', '');
        $('.dropdown-item').css('background-color', '');
        $(this).css('color', '#008e97');
        $(this).css('background-color', '#f2f2f2');
    });
});

    if (itemType === 'ai_items') {
      ai_items.style.display = 'block';
      devops.style.display = 'none';
      cloud_enablement.style.display='none';
      eGov.style.display='none';
      cms.style.display='none';
      enterprise.style.display='none';

    } else if (itemType === 'devops') {
      devops.style.display = 'block';
      ai_items.style.display = 'none';
      eGov.style.display='none';
      cloud_enablement.style.display='none';
      cms.style.display='none';
      enterprise.style.display='none';

    } else if(itemType==='cloud_enablement'){
      devops.style.display = 'none';
      ai_items.style.display = 'none';
      cloud_enablement.style.display='block';
      eGov.style.display='none';
      cms.style.display='none';
      enterprise.style.display='none';

    }else if(itemType==='eGov'){
      devops.style.display = 'none';
      ai_items.style.display = 'none';
      cloud_enablement.style.display='none';
      eGov.style.display='block';
      cms.style.display='none';
      enterprise.style.display='none';

    }else if(itemType === "cms"){
      devops.style.display = 'none';
      ai_items.style.display = 'none';
      cloud_enablement.style.display='none';
      eGov.style.display='none';
      cms.style.display='block';
      enterprise.style.display='none';

    }else if(itemType === 'enterprise'){
      devops.style.display = 'none';
      ai_items.style.display = 'none';
      cloud_enablement.style.display='none';
      eGov.style.display='none';
      cms.style.display='none';
      enterprise.style.display='block';
    }
  }
    document.getElementById('devops').style.display = 'none';
    document.getElementById("cloud_enablement").style.display='none';
    document.getElementById("eGov").style.display='none';
    document.getElementById("cms").style.display='none';
    document.getElementById("enterprise").style.display='none';

    </script>
    </div>
  </body>
</html>
