<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Assets/css/navbar.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
  />
    <title>Responsive Navbar</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="#">
          <img src="../../Assets/images/logo-header.png" height="60" />
        </a>
      </div>
      <ul class="nav-links">
        <li><a href="#" class="nav_items">Home</a></li>
        <li><a href="#" class="nav_items">About Us</a></li>
        <li>
          <a href="#" class="nav_items"
            >Solutions <img src="../../Assets/images/dropdown.png" height="10"
          /></a>
        </li>
        <li>
          <a href="#" class="nav_items"
            >Resources <img src="../../Assets/images/dropdown.png" height="10"
          /></a>
        </li>
        <li><a href="#" class="nav_items">Careers</a></li>
        <li><a href="#" class="nav_items">Contact Us</a></li>
      </ul>
    </nav>
    <script src="../index.js"></script>
  </body>
</html>
