<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <link rel="stylesheet" href="/Assets/css/solutionMain.css" />
  </head>
  <body>
    <div class="container">

      <div class="img_container">
        <img src="../../Assets/images/main-sentiment-analysis.jpg" />
        <h1>Sentimental Analysis</h1>
      </div>
      <div class="content">
        <p>
          Sentiment analysis is a natural language processing tehcnique that
          involves the use of machine learning algorithims to determine the
          emotional tone or sentimental of a piece of text . It involves
          analyzing the words , phrases , and context of a text to determine
          whether it express a positive , negative, or neutral sentimental.
        </p>
        <p>
          Sentimental analysis can be applied to a wide range of text sources ,
          including social media posts , customer reviews , news articles , and
          supports tickets. It can be used to identify public opinion and
          sentiment towards a particular topic or brand , to monitor customer
          feedback and satisfaction , or to analyze the effectiveness of
          marketting compagins.
        </p>
        <p>
          There are two main approaches to sentiment analysis : rule-based and
          machine learning , Rule-based sentiment analysis involves creating a
          set of rules or heuristics to identify positive and negative words and
          phrases within a text . Machine learning-based sentiment analysis, on
          the other hand , involves training a model on a large dataset of
          annotated text to learn the patterns and features associated with
          different sentiment.
        </p>
      </div>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
