<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <link rel="stylesheet" href="/Assets/css/visonAi.css" />
  </head>
  <body>
    <div class="vision_ai_container">
      <div class="img_container">
        <img src="../../Assets/images/main-vision-AI.jpg" />
        <h1>Vision AI</h1>
      </div>
      <div class="text_of_ai">
        <p>
          Vision AI is a field of artificial intelligence that focuses on
          enabling machines to interpret and understand visual information from
          the world around them. It involves the use of algorithms and models to
          analyze and extract meaningful information from digital images or
          videos.
        </p>
        <p>
          Vision AI uses machine learning algorithms to recognize and categorize
          objects within an image or video , and to detect and track movements
          and changes within the visulal environment.
        </p>
        <div class="common_application_of_vision_ai">
          <h2 style="font-weight: bold">
            Some common application of Vision AI include:
          </h2>
          <ul>
            <li>
              Object detection and recognition : Identifying and categorizing
              objects with an image or video.
            </li>
            <li>
              Facial recognition : Identifying and verifying individuals based
              on their facial features.
            </li>
            <li>
              Image and video search : using visuals data to search for and
              retrive relevent images and videos.
            </li>
            <li>
              Autonomous vehicles : using vision AI to identify defects or
              anomalies in products during the manufacturing process.
            </li>
          </ul>
        </div>
      </div>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
