<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/ProcurePay.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <title>Procure to Pay</title>
  </head>
  <body>
    <div class="container">
      <div class="img_container">
        <img
          src="/Assets/images/main-Procure-to-Pay.jpg"
          alt="image is not found"
        />
        <h1>Procure to Pay</h1>
      </div>
      <div class="content">
        <p>
          Procure to Pay is a centralized system to streamline procurement
          operations and increase the efficiency of the organization. The
          software expands compliance and shrinks processing time for better
          decisions and smart PO Management.
        </p>
        <p>
          CostaCloud strives to carry out cutting-edge procurement innovations,
          leading to software features that cannot be replicated.
        </p>
        <h1 style="font-size: large">
          Advantages of our Procure to Pay Software:
        </h1>
      </div>
    </div>
  </body>
</html>
