body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}

.container {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}


/* To remove white spaces in the iframe and its parent container */
iframe {
  margin: 0;
  padding: 0;
  border: none;
}

.footer {
  margin: 0;
  padding: 0;
}



.about_image_container {
  max-width: 100%;
  text-align: center;
}

.about_image_container img {
  max-width: 100%;
  height: auto;
}

.text_para_costa {
  padding: 20px !important;
  line-height: 1.5;
}

section {
  display: grid;
  padding: 20px;
  background-color: rgb(223, 223, 223);
}

.mission_container {
  max-width: 100% !important;
  display: flex;
  justify-content: space-around;
}

.p_mission {
  max-width: 30em;
  width: 26em;
  margin-top: 10px;
  word-wrap: break-word;
}

.partner{
    padding: 20px;
}

.image_ {
  margin-top: 15px;
}

.logo_text_mission,
.logo_text_vison {
  text-align: left;
}

.vision_heading,
.mission_heading {
  text-align: left;
  position: relative;
}

.vision_heading,
.mission_heading,
.headng_leadership,
.key_Customer_heading{
  font-weight: bold;
  color: #325877;
}

.footer {
  background: #325877 !important;
}

img {
  max-width: 100%;
  height: auto;
}

.leadership {
  max-width: 100%;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  text-align: left;
}

.headng_leadership {
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.leadership_p {
  line-height: 1.5;
  word-wrap: break-word;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .leadership {
    max-width: 80%;
    margin: 0 auto;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }
}

.key_Customer {
  max-width: 100%;
  padding: 20px;
}


/* Custom CSS to make the carousel move from right to left */
.key_customer_container{
  padding: 30px;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
}

.carousel-inner .carousel-item {
  flex: 0 0 100%;
  transition: transform 0.6s ease-in-out;
}

.crousal_img{
  margin-right: 50px;
  height: 150px;
}



