body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  font-size: 17px !important;
}

.container {
  height: auto;
  max-width: 100% !important;
  background-color: #fff;
  padding: 0 !important;
}

.timeline_section {
  max-width: 100%;
  width: 100%;
}

.timeline_section img {
  max-width: 100%;
  width: 70%;
  /* margin-top: 50px; */
}

.banner_container {
  max-width: 100%;
}

.banner_container img {
  max-width: 100%;
  width: 100%;
}

.content_section,
.timeline_section {
  padding: 30px;
}

.content_section {
  margin-top: 20px !important;
}

.mission_vision_container {
  padding: 30px;
}

.content_leader h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
}

.keyleader {
  padding: 30px;
  display: flex;
  grid-template-columns: 1/2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px 30px 0px 30px !important;
}



.keycustomer {
  padding: 30px;
  margin: 0px 30px 30px 30px !important;
}


.first_key{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 60px 30px 20px 50px;
}

.second_key{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 20px 20px 60px;
  max-width: 100%;
  width: 75%;
  position: relative;
  left: 8%;

}

.key_customer_head::after{
  content: "";
  width: 200px;
  height: 2px;
  background-color: #ff3654;
  display: block;
  position: absolute;
  margin: 0px 0px 0px 0px;
}

.journey::after{
  content: "";
  width: 120px;
  height: 2px;
  background-color: #ff3654;
  display: block;
  position: absolute;
  margin: 0 auto;
}

.journey h1{
  text-align: center;
  font-weight: bold;
  color: #000000;
}


.key_customer_head h1{
  font-weight: bold;
  color: #000000;
}

.first_key img, .second_key img{
  height: 160px;
  width: 160px;
}

.content_leader {
  position: relative;
  top: -2rem;
}

.timeline_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.about_content,
.para_2,
.para_3 {
  text-align: center;
  word-wrap: break-word;
}

.img_section {
  display: flex;
  gap: 20px;
}

.img_section h1 {
  font-size: 2rem;
  font-weight: bold;
}

.heading::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #ff3654;
  display: block;
  position: relative;
  margin-left: 10px;
}

.key_heading::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #ff3654;
  display: block;
  position: absolute;
  right: 10px;
  margin: 0px 0px 0px 0px;
}

.footer{
  background:  #325877 !important;;
}

.mission_content,
.vision_content {
  padding: 20px 0px 20px 0px;
}

.card_container {
  max-width: 100%;
}

.items_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  height: auto;
  background-color: rgb(236, 234, 234);
  padding: 50px;
  margin: 0px 30px 0px 30px !important;
}

.first_section,
.second_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0px 50px 0px 50px;
}

.card-title {
  font-weight: bold;
}

.card {
  padding: 5px;
  max-width: 100%;
  height: 43vh;
}
.card-text {
  text-align: left;
  word-wrap: break-word;
  max-width: 100%;
}

.quality,
.customer,
.sustain,
.Innovation,
.security {
  display: flex;
  gap: 10px;
}
