body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  font-size: 17px !important;
}

.container {
  height: auto;
  max-width: 100% !important;
  background-color: #fff;
  padding: 0 !important;
}

.homepage_banner {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-image: url("/Assets/images/banner.png");
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.homepage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test_p_ {
  text-align: center;
  word-wrap: break-word;
  font-size: 15px;
  position: relative;
}

.h1_tree_save {
  font-size: 1.2rem;
  padding: 12px 13px;
  border-radius: 20px;
  font-weight: bold;
  max-width: 100%;
  width: 150px;
  color: #ff3654;
  background-color: #f7eef0;
  position: relative;
  left: -0.5rem;
}

.h1_time_save {
  font-size: 1.2rem;
  padding: 12px 13px;
  border-radius: 20px;
  font-weight: bold !important;
  max-width: 100%;
  width: 140px !important;
  color: #00b59a;
  background-color: #eefcfa;
  position: relative;
  left: -0.5rem;
}

.h1_data_ {
  font-size: 1.2rem !important;
  padding: 12px 13px;
  border-radius: 20px;
  font-weight: bold !important;
  max-width: 100%;
  width: 180px !important;
  color: #4b3ad1;
  background-color: #f3f1f8;
  position: relative;
  left: -0.5rem;
}

.security_h1 {
  font-size: 1.2rem !important;
  padding: 12px 13px;
  border-radius: 20px;
  font-weight: bold !important;
  max-width: 100%;
  width: 120px !important;
  color: #ff9c00;
  background-color: #f8f0e5;
  position: relative;
  left: -0.5rem;
}

.heading h1 {
  font-weight: bold !important;
  font-size: 2.5rem;
  color: #000000 !important;
  padding: 20px;
  margin-bottom: 20px;
}

.corousel_h1 {
  text-align: left;
  font-size: 42px !important;
  white-space: nowrap;
  overflow: hidden;
}

.line-animation {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  top: 20%;
  left: 8%;
}

.btn_contact {
  max-width: 100%;
  width: 20%;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(255, 115, 0);
  border: 0px solid rgb(255, 115, 0);
  color: white;
  cursor: pointer !important;
}

.line-1 {
  font-size: 2.5rem !important;
  font-weight: bolder !important;
  color: #000000;
  position: relative;
  top: 6%;
}

.line-2 {
  font-size: 2.7rem !important;
  color: #1616b6;
  font-weight: bold;
}

/* .about_costacloud {
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  background: #f0f0f7;
  padding: 0 0 10px;
} */
/* 
.curve{
  width: 100%;
    height: 80px;
    border-radius: 0 0 40px 40px;
    background-color: #f4f4fa;
    position: relative;
} */

/* .curve::before{
  content: " ";
    width: 145px;
    height: 50px;
    position: absolute !important;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
} */

/* .line_break{
  width: 100%;
  height: 40px;
  border-radius: 0 0 40px 40px !important;
  background-color: #fff;
  position: relative;
} */

/* .line_break::before{
  content: " ";
    width: 145px;
    height: 50px;
    position: absolute;
    bottom: -22px !important;
    left: 50%;
    transform: translateX(-50%);
    background: url("/Assets/images/animation/shape.png");
} */

.our_offices {
  text-align: left;
  font-size: 2.5rem !important;
  font-weight: bold;
  padding: 30px !important;
  margin: 0px auto;
  color: #000000;
}

.footer {
  background: #325877 !important;
}

.para_about {
  text-align: center !important;
}

.homepage_number {
  max-width: 100%;
  height: auto;
  min-width: 200px;
}

.text_container {
  grid-column: 1 / 2;
  padding: 20px;
}

.text_container h1 {
  font-size: x-large;
  font-weight: bold;
}

.text_container p {
  font-size: 16px;
}

.marketing_logo {
  grid-column: 2 / 3;
  text-align: center;
  margin-top: 30px;
}

.tree_saved_content,
.time_saved_content,
.datamanaged_content,
.security_content p {
  font-size: 16px !important;
}

.about_heading {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem !important;
  margin-bottom: 20px !important;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
}
.text_container::after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #ff3654;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -1rem;
}

.ourclient_h1::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #ff3654;
  display: block;
  position: relative;
  margin-bottom: 15px !important;
}

.offices_h1::after {
  content: "";
  width: 200px;
  height: 1px !important;
  background-color: #ff3654;
  display: block;
  position: relative;
  margin-bottom: 15px !important;
  top: -1rem;
  margin-left: 30px;
}

.static_h1::after {
  content: "";
  width: 260px;
  height: 1px;
  background-color: #ff3654;
  display: block;
  position: relative;
}

.hea::after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #ff3654;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -2rem;
}

.map_images {
  max-width: 100%;
  width: 90%;
  position: relative;
  margin: 30px;
}

.india_location {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; 
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}

.image2 {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2; 
}

.infographic_gif {
  max-width: 100%; 
  height: 60vh; 
  display: block; 
}


.ab_span {
  position: relative;
  top: 2px !important;
}

/* Testimonials */
.testimonials{
  margin: 50px;
}

.heading_testimonial {
  text-align: center !important;
  font-size: 2.8rem !important;
  color: #000000;
  font-weight: bold;
}

.testimonial_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px !important;
  position: relative;
  left: 3%;
  margin-top: 30px;
}

.testimonial_content {
  max-width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  margin-top: 20px;
}

.testimonial_content p {
  font-size: 15px !important;
}

.img_test {
  height: 60px !important;
  margin-top: 20px;
  position: relative;
  left: 5%;
}

.testimonial_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25%;
}

._items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px !important;
  max-width: 100%;
  width: 76% !important;
  position: relative;
}

.static_h1 {
  padding: 30px;
  margin-top: 30px;
}

.static_h1 h1 {
  font-size: 2.5rem !important;
  font-weight: bold;
}

.image_1 {
  height: 80px !important;
}

.h1_ {
  font-size: 1.8rem !important;
  text-align: left;
  font-weight: bold;
}

.bubble_1 {
  position: relative;
  left: 56%;
}

.nhb_logo {
  height: 90px;
  width: 90px;
}

.maxlife_logo {
  height: 70px !important;
}

.rock_auto {
  height: 80px;
  width: 200px;
  margin-top: 10px;
}

.p_ {
  text-align: center !important;
  position: relative;
  top: -0.5rem;
  font-size: 15px;
}

.testimonials_slide {
  position: relative;
  top: -2rem !important;
}

.left_arrow {
  width: 40px;
  height: 40px;
}

.stars {
  height: 30px !important;
  width: 100px;
}

.five_star {
  height: 15px !important;
}

.arrow_items {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  max-width: 100%;
  width: 56% !important;
  position: relative;
  left: 20%;
  top: -1rem;
}

.arrow_b {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p {
  text-align: center !important;
  font-size: 16px;
  max-width: 100%;
  position: relative;
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr !important;
  gap: 30px !important;
  max-width: 1200px;
  margin-left: 20px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid_2 img,
.grid_3 img,
.grid_4 img,
.grid_5 img,
.grid_6 {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.grid_text {
  margin-top: 20px;
  background-color: #fff;
  overflow: hidden;
  position: static;
  text-align: start !important;
}

.card {
  width: 100%;
  margin-bottom: 10px;
}

.card-text {
  max-height: 6em;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.see-more {
  display: block;
  cursor: pointer;
  color: #325877 !important;
}

.expanded {
  max-height: none;
}

.heading_card {
  text-align: left !important;
  font-size: x-large !important;
}

.world_map {
  text-align: center;
  padding: 20px;
}

.map_container {
  margin: 50px 10px !important;
}

.world_map h1 {
  font-size: 24px;
}

.world_map img {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  left: 50%;
  right: 0;
  text-align: left;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.carousel-item {
  max-height: 100vh;
  height: auto;
}

.carousel-caption h1 {
  font-size: 42px !important;
}
.carousel-caption p {
  font-size: 30px !important;
  font-weight: 200 !important;
}

/* .carousel-inner {
  position: relative;
} */

/* .carousel-item {
  position: relative;

} */

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-caption button {
  background-color: #061efa;
  color: #fff;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  margin: 15px 0px;
}

.resources {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: auto !important;
  overflow-y: auto !important;
  height: 380px !important;
  padding: 20px;
}

.resources::-webkit-scrollbar {
  width: 0px;
}

.resources::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.saved_tree_images {
  max-width: 100%;
  height: 80% !important;
  min-width: 200px;
  margin-top: 30px;
}

.resources > div {
  padding: 30px;
  margin-top: 10px !important;
}

.resources_managed_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
  height: 100vh !important;
}

@media (max-width: 767px) {
  .about_costacloud {
    grid-template-columns: 1fr;
  }

  .marketing_logo {
    grid-column: 1 / 2;
    margin-top: 20px;
  }

  .homepage_number {
    max-width: 100%;
    height: auto;
    min-width: 200px;
  }
}

@media (min-width: 768px) {
  .text_container {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .saved_tree {
    grid-template-columns: 1fr;
  }

  .tree_saved_text {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .homepage_banner {
    padding: 10px;
  }
  .homepage {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .homepage {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .world_map h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .world_map h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .grid_2 img,
  .grid_3 img,
  .grid_4 img {
    max-width: 100%;
    height: auto;
  }

  .grid_text {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .grid_2 img,
  .grid_3 img,
  .grid_4 img {
    max-width: 100%;
    height: auto;
  }

  .grid_text {
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid_2 img,
  .grid_3 img,
  .grid_4 img {
    max-width: 100%;
    height: auto;
  }

  .grid_text {
    width: auto;
  }
}

/* glassieffect */
.homepage_banner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  transform: translateY(-50%);
  text-align: right;
  border-radius: 10px;
  backdrop-filter: blur(1.5px);
  z-index: 1;
  max-width: 100%;
  width: 50%;
  height: 100vh !important;
}

.carousel-caption h1 span {
  font-size: 30px !important;
  font-weight: bold;
}

.corousel_h1 {
  position: relative;
  top: 40% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-caption h1 span:last-child {
  font-size: 42px !important;
}

/*  */
.vertical_animation {
  display: flex;
  justify-content: space-around;
  justify-content: center !important;
  align-items: center !important;
}

.line_container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 60px;
}

.calender {
  height: 50px !important;
  width: 50px !important;
}

.laptop {
  height: 55px !important;
  width: 55px !important;
}

.line_container img {
  width: 100%;
  height: auto;
  display: block;
}

.clients {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  width: 55%;
  position: absolute;
  left: 22%;
  top: 25%;
}

.numbers {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  width: 65%;
  position: absolute;
  left: 29%;
  top: 60%;
}

.top_imgs {
  display: flex;
  justify-content: space-around;
  width: 70%;
  position: relative;
  left: 12%;
  margin-bottom: 10px;
}

.btm_imgs {
  display: flex;
  justify-content: space-around;
  width: 70%;
  position: relative;
  left: 23%;
  margin-top: 15px;
}

/* Clients */
.client {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.clients_section {
  max-width: 100%;
  position: relative;
  margin: 20px;
  max-height: 100vh;
  height: 80vh;
  height: 80vh;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  /* box-shadow: 10px 10px 10px 2px #e2e2e2; */
  border-radius: 30px;
}

.heading_text {
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
  top: 50% !important;
  max-width: 100%;
  width: 90%;
}

.cleints_animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50% !important;
  left: 2%;
}

.client_heading {
  text-align: left;
  font-weight: bold;
  font-size: 2.5rem !important;
  position: relative;
}

.img_first,
.img_sec {
  display: flex;
  justify-content: space-around;
}

.img_sec {
  margin-right: 50px !important;
}

.icon_1 {
  height: 65px;
  width: 65px;
}

.icon_2 {
  height: 125px;
  width: 125px;
  margin-top: 10px;
}

.icon_3 {
  height: 90px;
  width: 90px;
}
.icon_4 {
  height: 50px;
  width: 50px;
  position: relative;
  top: 65%;
}

.icon_5 {
  height: 130px;
  width: 130px;
}

.icon_6 {
  height: 120px;
  width: 120px;
  position: relative;
  transform: translate(5%, -45%);
}

.icon_7 {
  height: 80px;
  width: 80px;
  transform: translate(20%, 50%);
}

.icon_8 {
  height: 130px;
  width: 130px;
  transform: translate(20%, -30%);
}

.icon_9 {
  height: 140px;
  width: 140px;
  transform: translateX(20%);
}
.icon_10 {
  height: 45px;
  width: 45px;
  position: relative;
  left: 7%;
}

.img_first {
  display: flex;
  justify-content: center;
}

.img_first img {
  margin-right: 30px;
}

.img_sec img {
  margin-right: 30px;
}
.img_first img:last-child {
  margin-right: 0;
}



.clients_section::before {
  content: "";
  background-image: url("/Assets/images/Clients/Wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  position: absolute;
  top: 0;
  /* left: 11%; */
  max-width: 100%;
  width: 100%;
  height: 70%;
  z-index: -1;
}

/* Define the animation for the balls */
.ball {
  animation: bounce 6s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon_1 {
  animation-delay: 0s;
}

.icon_3 {
  animation-delay: 1s;
}

.icon_4 {
  animation-delay: 1.5s;
}

.icon_7 {
  animation-delay: 3s;
}

.icon_10 {
  animation-delay: 3.5s;
}

.cl_img {
  animation: slowBlink 4s infinite;
  opacity: 0;
}

@keyframes slowBlink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.icon_2 {
  animation-delay: 1s;
}

.icon_5 {
  animation-delay: 3s;
}

.icon_6 {
  animation-delay: 6s;
}

.icon_8 {
  animation-delay: 7s;
}

.icon_9 {
  animation-delay: 9s;
}

/* animation of images and text */
.vertical_animation {
  position: relative;
}

.top_imgs,
.btm_imgs,
.clients,
.numbers {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 10s ease;
}

/* .top_imgs{
} */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.vertical_animation.animated .top_imgs,
.vertical_animation.animated .btm_imgs,
.vertical_animation.animated .clients,
.vertical_animation.animated .numbers {
  animation: fadeInUp 10s forwards;
}
