body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav_items {
  color: black !important;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
}

.dropdown_icon {
  height: 10px !important;
}

.nav_logo {
  height: 60px !important;
}

.menu-toggle {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.dropdown-divider-vertical {
  border-left: 1px solid black;
  height: auto;
  margin: 0;
  clear: both;
}

.custom-dropdown-menu {
  max-width: 100vw !important;
  width: 600px !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -180px !important;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 1rem !important;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left !important;
  list-style: none;
  background-color: #f2f2f2 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-top: 30px !important;
}
.dropdown-item {
  font-size: 0.9rem !important;
  margin-top: 10px !important;
}
 

.row{
  font-weight: bold !important;
}

a:hover{
  background-color: #f2f2f2 !important;
} 

