body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
}

.img_container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;

}

.img_container img {
    width: 100%;
    height: auto;
    display: block;
}

.img_container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
    font-size: 3.5rem;
    font-weight: 500 !important;
    width: 100% !important;
  }

  @media (max-width: 768px) {
    .img_container h1 {
      font-size: 24px; 
    }
  }

.content {
    padding: 20px !important;
}




ul li {
    margin-top: 10px !important;
}

@media screen and (max-width: 768px) {
    .img_container {
        max-width: 90%;
    }
}

.careers_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.careers_img img{
    height: 80vh;
    margin: 50px;
}

.recruitment_h1{
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
}

.campus_::after{
    content: "";
    width: 150px;
    height: 1px;
    background-color: #ff3654;
    display: block;
    position: relative;
    margin-bottom: 15px !important;
}

.current_openings::after{
    content: "";
    width: 150px;
    height: 1px;
    background-color: #ff3654;
    display: block;
    position: relative;
    margin-bottom: 15px !important;
}

.current_openings{
    margin-top: 50px;
}