<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/DakManagement.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <title>Correspondence/DAK Management</title>
  </head>
  <body>
    <div class="dak_container">
      <div class="navbar">
        <iframe
          src="/Components/shared/navbar.html"
          frameborder="0"
          width="100%"
          height="90"
        ></iframe>
      </div>
      <div class="img_container">
        <img
          src="/Assets/images/main-Correspondence-DAK-Management.jpg"
          alt="image is not found"
        />
        <h1>Correspondence/DAK Management</h1>
      </div>
      <div class="dak_management">
        <p>
          A Correspondence (or a DAK) Management System is a system used by
          organizations to manage and track the flow of different types of
          correspondence within the organization.
        </p>
        <p>
          This system includes tools for creating and organizing digital
          documents, as well as software for tracking the status of documents as
          they move through various stages of review, approval, and
          distribution. DAK/File Management Systems also include features for
          automating workflows and setting up notifications or alerts for
          specific events or milestones.
        </p>
        <p>
          The system can have the same generic workflows for all types of
          Correspondences or it can be Separate workflows for different types of
          Correspondences within an organization. We at CostaCloud provide the
          flexibility for the clients to cater all of their use cases as per the
          needs of the organization..
        </p>
      </div>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
