<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <link rel="stylesheet" href="/Assets/css/GrivenceManagement.css" />
    <title>Grievance management</title>
  </head>
  <body>
    <div class="grivence_container">
      <div class="navbar">
        <iframe
          src="/Components/shared/navbar.html"
          frameborder="0"
          width="100%"
          height="90"
        ></iframe>
      </div>
      <div class="img_container">
        <img
          src="/Assets/images/main-Grievance-management.jpg"
          alt="image is not found"
        />
        <h1>Grievance management</h1>
      </div>
      <div class="Grievance_content">
        <p>
          Grievance management is the process of addressing and resolving
          complaints or grievances from employees, customers, or other
          stakeholders.
        </p>
        <p>
          It is an important part of human resources management and customer
          service, as it helps to ensure that issues are addressed promptly and
          effectively, and that stakeholders feel heard and respected.
        </p>
        <p>
          In an organizational context, grievances can take many forms, such as
          complaints about workplace policies, discrimination, harassment,
          safety concerns, or customer service issues.
        </p>
        <p>
          An effective grievance management software typically involves a clear
          and transparent process for reporting and investigating grievances, as
          well as mechanisms for resolving disputes and implementing corrective
          action where necessary.
        </p>
      </div>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
