<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Assets/css/RtiPqManagement.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <title>RTI/PQ Management</title>
  </head>
  <body>
    <div class="rti_container">
      <div class="navbar">
        <iframe
          src="/Components/shared/navbar.html"
          frameborder="0"
          width="100%"
          height="90"
        ></iframe>
      </div>
      <div class="img_container">
        <img
          src="/Assets/images/main-RTI-PQ-Management.jpg"
          alt="image is not found"
        />
        <h1>RTI/PQ Management</h1>
      </div>
      <div class="rti_content">
        <p>
          RTI/PQ Management typically refers to the process of handling Right to
          Information (RTI) requests and Parliamentary Questions (PQs) within a
          government or public institution. Our RTI/PQ Management Software is
          designed to simplify this process, ensuring compliance, tracking, and
          seamless communication.
        </p>
        <p>
          Some of the key benefits of our RTI/PQ Management software include:
        </p>
        <ul>
          <li>
            <span style="font-weight: bold">Transparency: &nbsp;</span>Our
            software improves transparency and accountability by providing
            citizens with easy access to information and response tracking.
          </li>
          <li>
            <span style="font-weight: bold">Efficiency: &nbsp;</span>It reduces
            manual paperwork and streamline the request handling process, saving
            time and resources.
          </li>
          <li>
            <span style="font-weight: bold">Compliance: &nbsp;</span>The
            software ensures compliance with RTI regulations and deadlines,
            reducing the risk of legal issues.
          </li>
          <li>
            <span style="font-weight: bold">Compliance: &nbsp;</span>The
            software ensures compliance with RTI regulations and deadlines,
            reducing the risk of legal issues.
          </li>
          <li>
            <span style="font-weight: bold">Data Security:&nbsp;</span>It
            protects sensitive information with robust security measures,
            including encryption and access controls.
          </li>
          <li>
            <span style="font-weight: bold">Citizen Engagement: &nbsp;</span
            >Enhance citizen engagement by offering an online platform for
            information requests and queries.
          </li>
        </ul>
      </div>
      <div class="footer">
        <iframe
          src="../shared/footer.html"
          frameborder="0"
          width="100%"
          height="300"
        ></iframe>
      </div>
    </div>
  </body>
</html>
